absl-py==0.8.0
aioamqp==0.13.0
aiodns==1.1.1
aiohttp==3.6.2
alabaster==0.7.12
alembic==1.3.1
amqp==1.4.9
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
aniso8601==8.0.0
anyjson==0.3.3
appnope==0.1.0
appscript==1.0.1
APScheduler==3.6.1
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==3.2.1
async-timeout==3.0.1
atari-py==0.2.6
atomicwrites==1.3.0
attrdict==2.0.1
attrs==19.1.0
autobahn==19.10.1
Automat==0.7.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==1.0.3
beautifulsoup4==4.7.1
billiard==3.3.0.23
binance==0.3
bitarray==0.9.3
bkcharts==0.2
bleach==3.1.4
blinker==1.4
bokeh==1.2.0
boto==2.49.0
Bottleneck==1.2.1
Brotli==1.0.7
ccxt==1.18.1179
celery==3.1.26.post2
celery-with-redis==3.0
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
clyent==1.2.2
colorama==0.4.1
conda==4.7.12
conda-build==3.18.8
conda-package-handling==1.3.11
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.12
cytoolz==0.10.0
dask==2.1.0
dateparser==0.7.2
deap==1.3.0
decorator==4.4.0
defusedxml==0.6.0
Delorean==1.0.0
distributed==2.1.0
Django==1.11.4
django-celery==3.3.1
django-redis-sessions==0.6.1
docopt==0.6.2
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
eth-abi==2.0.0
eth-account==0.4.0
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.1.2
eth-typing==2.1.0
eth-utils==1.7.0
fastcache==1.1.0
filelock==3.0.12
Flask==1.0.2
flask-blueprint==1.2.2
Flask-Cache==0.13.1
Flask-Caching==1.8.0
Flask-DebugToolbar==0.10.1
Flask-Ext==0.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
futu-api==3.13.1
future==0.17.1
gast==0.2.2
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-pasta==0.1.7
greenlet==0.4.15
grpcio==1.24.1
gym==0.14.0
h5py==2.9.0
heapdict==1.0.0
helpdev==0.6.10
hexbytes==0.2.0
html5lib==1.0.1
humanize==0.5.1
hyperlink==19.0.0
ibapi==9.75.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==1.3.0
incremental==17.5.0
ipfshttpclient==0.4.12
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
jhTAlib==20191105.0
Jinja2==2.10.1
joblib==0.13.2
json5==0.8.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-server==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.1.0
kombu==3.0.37
lazy-object-proxy==1.4.1
libarchive-c==2.8
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lru-dict==1.1.6
lxml==4.3.4
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
mongoengine==0.18.2
more-itertools==7.0.0
motor==2.0.0
mpmath==1.1.0
msgpack==0.6.1
multiaddr==0.0.8
multidict==4.5.2
multipledispatch==0.6.0
navigator-updater==0.2.1
nb-conda==2.2.1
nb-conda-kernels==2.2.2
nbconvert==5.5.0
nbformat==4.4.0
netaddr==0.7.19
networkx==2.3
nltk==3.4.4
nose==1.3.7
notebook==6.0.0
numba==0.44.1
numexpr==2.6.9
numpy==1.16.4
numpydoc==0.9.1
olefile==0.46
opencv-python==4.1.2.30
openpyxl==2.6.2
opt-einsum==3.1.0
packaging==19.0
pamqp==2.3.0
pandas==0.25.0
pandas-datareader==0.8.1
pandocfilters==1.4.2
parsel==1.5.2
parsimonious==0.8.1
parso==0.5.0
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.4
patsy==0.5.1
peewee==3.11.0
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.9
Protego==0.1.16
protobuf==3.10.0
psutil==5.6.3
psycopg2==2.7.6.1
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.4
pyasn1-modules==0.2.6
pycares==3.0.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.0
pycurl==7.43.0.3
PyDispatcher==2.0.5
pyflakes==2.1.1
pyglet==1.3.2
Pygments==2.4.2
PyGraph==0.2.1
PyHamcrest==1.9.0
pylint==2.3.1
pymongo==3.9.0
PyMySQL==0.9.3
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.0
PyQt5==5.13.1
PyQt5-sip==4.19.19
pyqtgraph==0.10.0
pyrsistent==0.14.11
PySocks==1.7.0
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-binance==0.7.4
python-dateutil==2.8.0
python-editor==1.0.4
python-rapidjson==0.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
pyzbar==0.1.8
pyzmq==18.0.0
QDarkStyle==2.7
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
queuelib==1.5.0
redis==3.3.11
regex==2019.8.19
requests==2.22.0
rlp==1.1.0
rope==0.14.0
rqdatac==2.4.0
rsa==4.0
ruamel-yaml==0.15.46
scapy==2.4.3
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
Scrapy==1.8.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.5
stable-baselines==2.8.0
statsmodels==0.10.0
stomp.py==4.1.22
sympy==1.4
TA-Lib==0.4.17
tables==3.5.2
tblib==1.4.0
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thenextquant==0.1.9
tigeropen==1.1.7
toolz==0.10.0
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
Twisted==19.7.0
txaio==18.8.1
tzlocal==2.0.0
unicodecsv==0.14.1
urllib3==1.24.2
varint==1.0.2
vine==1.3.0
w3lib==1.21.0
wcwidth==0.1.7
web3==5.1.0
webencodings==0.5.1
websocket-client==0.56.0
websockets==7.0
Werkzeug==0.15.4
widgetsnbextension==3.5.0
wrapt==1.11.2
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.8
xlwt==1.3.0
yarl==1.3.0
zict==1.0.0
zipp==0.5.1
zope.interface==4.6.0
